.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .popup-content {
    background: rgb(85, 129, 98);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 10;
  }

  .create-ticket {
    position: fixed;
    right: 5%;
    bottom: 80%;
    background-color: rgb(48, 136, 48); /* Blue button color */
    color: #fff; /* White text color */
    width: 12%; 
    height: 8%; 
    border: none; /* No border */
    border-radius: 15px;
    cursor: pointer; /* Cursor style on hover */
    font-size: 100%;

  }
  
  .create-ticket:hover {
    background-color: #000000; /* Darker blue on hover */
  }
  .create-ticket:hover {
    background-color: #000000; /* Darker blue on hover */
  }
  .show-members-button:hover {
    background-color: #000000; /* Darker blue on hover */
  }
  .send-invite-button:hover {
    background-color: #000000; /* Darker blue on hover */
  }
  .delete-project-button:hover {
    background-color: #000000; /* Darker blue on hover */
  }
  .sort-by:hover {
    background-color: #afafaf; /* Darker blue on hover */
  }
  .send-invite-button {
    position: fixed;
    background-color: rgb(35, 112, 148); /* Blue button color */
    color: #fff; /* White text color */
    border: none; /* No border */
    width: 12%; 
    height: 8%; 
    border-radius: 15px;
    cursor: pointer; /* Cursor style on hover */
    right: 5%;
    align-items: center;
    bottom: 60%;
    font-size: 100%;
  }

  .sort-by {
    position: fixed;
    background-color: rgb(253, 253, 253);
    padding: .5% 1.5%;
    align-self: center;
    right: 5%;
    bottom: 40%;
    font-size: 100%;
    width: 12%; 
    height: 8%; 
    border-radius: 15px;
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }

  .show-members-button {
    position: fixed;
    background-color: #311e50; /* Blue button color */
    width: 12%; 
    height: 8%; 
    color: #fff; /* White text color */
    border: none; /* No border */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    right: 5%;
    bottom: 70%;
    font-size: 100%;
  }
  .project-name {
    position: fixed;
    color: #fff;
    right: 5%;
    bottom: 90%;
    background: none !important; /* Remove background */
    border: none !important; /* Remove border */
    outline: none !important; /* Remove outline */
    box-shadow: none !important; /* Remove box shadow */
    -webkit-box-shadow: none !important; /* Remove box shadow for older webkits */
    -moz-box-shadow: none !important; /* Remove box shadow for older Firefox */
    font-size: 250%; /* Change font size */
}

  .delete-project-button {
    position: fixed;
    background-color: #bd0404; /* Blue button color */
    color: #fff; /* White text color */
    width: 12%; 
    height: 8%; 
    border: none; /* No border */
    border-radius: 15px;
    cursor: pointer; /* Cursor style on hover */
    right: 5%;
    bottom: 50%;
    font-size: 100%;
}

.delete-ticket {
  background-color: #bd0404; /* Blue button color */
  color: #fff; /* White text color */
  border-radius: 15px;
  width: 30%; 
  margin-bottom: 4%;
}

.button-container {
  position: fixed;
  top: 15%; /* Adjust as needed */
  left: 40%; /* Adjust as needed */
  width: auto; /* Adjust the width of the container */
  height: auto;
}
.ticket-button {
  position: relative;
  background-color: #371c61; /* Blue button color */
  width: 125%; 
  height: auto;
  top: 100%;
  left: center;
  margin-bottom: 10px;
  color: rgb(133, 219, 236); /* White text color */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  font-size: 200%;
}